<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>팀원 모집글 작성하기</title>
    </head>
    <body>
        <h2>모집글 작성하기</h2>
        <form method="post" th:action="@{/recruit/modify/complete/{id}(id = ${recruit.id})}">
            <p>글 내용</p>
            <!--    <input type="hidden" name="_method" value="put">-->
            <input name="teamId" th:value="${recruit.teamId.id}" type="hidden">
            <input name="id" th:value="${recruit.id}" type="hidden">
            <textarea cols="60" name="content" rows="5" th:text="${recruit.content}"></textarea>
            <button type="submit">수정</button>
            <input th:name="_csrf" th:value="${_csrf.token}" type="hidden" />
        </form>
    </body>
</html>