<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>팀원 모집글 작성하기</title>
</head>
<body>
<h2>모집글 작성하기</h2>
<form th:action="@{/recruit/modify/complete/{id}(id = ${recruit.id})}" method="post">
    <p>글 내용</p>
<!--    <input type="hidden" name="_method" value="put">-->
    <input type="hidden" name="teamId" th:value="${recruit.teamId}">
    <input type="hidden" name="id" th:value="${recruit.id}">
    <textarea name="content" cols="60" rows="5" th:text="${recruit.content}"></textarea>
    <button type="submit">수정</button>
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
</form>
</body>
</html>