<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>팀원 모집글 작성하기</title>
    </head>
    <body>
        <h2>모집글 작성하기</h2>
        <form method="post" th:action="@{/recruit/write/{id}(id = ${recruit.id})}">
            <p>글 내용</p>
            <input hidden name="teamId" th:value="${teamid}" type="text">
            <textarea cols="60" name="content" placeholder="모집글 내용을 입력하세요." rows="5"></textarea>
            <button type="submit">등록</button>
            <input th:name="_csrf" th:value="${_csrf.token}" type="hidden" />
        </form>
    </body>
</html>