<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성폼</title>
</head>

<style>

    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    inputtext {
        width : 100%;
        box-sizing : border-box;
        margin-top : 10px;
    }

</style>

<body>
<div class="layout">
    <form th:object="${team}" th:action="@{/team/modify/complete/{id}(id = ${team.id})}" method="post">
        <fieldset>
            팀명 <input th:field="*{teamName}" type="text" name="teamName">
            팀 코드 <input th:field="*{uri}" type="text" name="uri">

            <p>선호 스포츠(한개만 선택 가능)</p>
            <div class="input-group mb-3">
                <div th:each="sport : ${sports}" class="form-check">
                    <input class="form-check-input" th:field="*{sportsId}"
                           th:value="${sport.count}" type="radio" id="sport" name="sportsId">
                    <label class="form-check-label" th:text="${sport.name()}"></label>
                </div>
            </div>

            <p>성별</p>
            <div class="input-group mb-3">
                <div th:each="gender : ${genders}" class="form-check">
                    <input class="form-check-input" th:field="*{averageGender}"
                           th:value="${gender.count}" type="radio" id="gender" name="averageGender">
                    <label class="form-check-label" th:text="${gender.name()}"></label>
                </div>
            </div>

            <p>주요나이대</p>
            <div class="input-group mb-3">
                <div th:each="age : ${ages}" class="form-check">
                    <input class="form-check-input" th:field="*{averageAge}"
                           th:value="${age.count}" type="radio" id="age" name="averageAge">
                    <label class="form-check-label" th:text="${age.description}"></label>
                </div>
            </div>

            <p>활동 요일</p>
            <div class="input-group mb-3">
                <div th:each="week : ${weeks}" class="form-check">
                    <input class="form-check-input" th:field="*{useWeek}"
                           th:value="${week.count}" type="radio" id="week" name="useWeek">
                    <label class="form-check-label" th:text="${week.name()}"></label>
                </div>
            </div>

            <p>활동 시간</p>
            <div class="input-group mb-3">
                <div th:each="time : ${times}" class="form-check">
                    <input class="form-check-input" th:field="*{useTime}"
                           th:value="${time.count}" type="radio" id="time" name="useTime">
                    <label class="form-check-label" th:text="${time.name()}"></label>
                </div>
            </div>

            <button type="submit">수정</button>
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
        </fieldset>
    </form>
</div>
</body>
</html>