<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>카테고리별 장소 검색하기</title>
    <link rel="stylesheet" type="text/css" href="/css/jun/viewSportCenterStyle.css">
</head>
<body>
<div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

    <div id="menu_wrap" class="bg_white">
        <div class="option">
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    키워드 : <input type="text" value="농구장" id="keyword" size="15">
                    <button type="submit">검색하기</button>
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c80a75ce9529c87ee1ee975834c095bf"></script>
<a th:href="@{/sportCenter/createSportCenter}"><input type="button" value="시설 등록"></a>
<a th:href="@{/sportCenter/updateSportCenter}"><input type="button" value="시설 수정"></a>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/js/jun/viewSportCenter.js"></script>
</body>
</html>