#wrap {
    width: 960px; /*bootstrap : container (전체 화면 , width :960px)*/
    height: 900px;
    margin: 0px auto; /*가운데 정렬*/
    font-size: 20px;
    text-align: center;
}

#header {
    width: 960px;
    height: 50px;
    line-height: 50px; /*글자나 이미지 위치 정렬*/
}

#nav {
    width: 220px;
    height: 600px;
    line-height: 50px;
    float: left;
    padding-top: 60px;
    text-align: center;
}

#section {
    width: 660px;
    height: 600px;
    line-height: 50px;
    float: left;
    padding-top: 60px;
}

#footer {
    width: 960px;
    height: 100px;
    background-color: black;
    line-height: 100px; /*글자나 이미지 위치 정렬*/
    color: white;
    float: left;
}

.jb-division-line {
    border-top: 1px solid #444444;
    margin: 5px 0px;
}

#menubutton {
    border-radius: 10px;
    background: #fe96cb;
    padding: 20px;
    width: 200px;
    height: 150px;
}