/* personal.css */
/* 표 전체 스타일 */
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

/* 셀 스타일 */
.table td, .table th {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
}

/* 라벨 스타일 */
.label {
    font-weight: bold;
    padding-right: 10px;
}
