.frame {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}
.main {
    width: 100%;
    margin-top: 130px;
}

.innerframe {
    width: 800px;
    height: 100%;
    margin: 50px auto;
    position: absolute;
}

.recruitview {
    margin-top: 15px;
    width: 100%;
    height: 120px;
    padding: 10px;
}

.table {
    width: 100%;
    height: 70%;
}

.buttonlist {
    margin: 30px;
}

#addbutton {
    position: fixed;
    bottom: 30px;
    right: 25%;
}

#infotray {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    left: 60px;
    width: 100%;
    height: 100%;
}

#teamName {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.tray1 {
    display: inline-block;
    float: left;
    width: 80%;
    height: 100px;
}

.tray2 {
    display:inline-block;
    position: absolute;
    float: right;
    margin-top: 20px;
}

.info {
    font-size: 12px;
    text-align: left;
}

#uridescription {
    font-size: 7px;
    color: #616161;
}

.class-control {
    margin-left: 10px;
}

#sportsbtn {
    width: 200px;
    height: 50px;
    margin: 5px 5px 10px 5px;
    padding-top: 12px;
}

#genderbtn {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    padding-top: 12px;
}

#agesbtn {
    width: 100px;
    height: 50px;
    margin: 5px 5px 10px 5px;
    padding-top: 12px;
}

#weeksbtn {
    width: 88px;
    height: 50px;
    margin: 5px 5px 10px 5px;
    padding-top: 12px;
}

#timebtn {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    padding-top: 12px;
}

.form-check-input {
    float: left;
}

#sportslabel {
    width: 80%;
    float: left;
}

#ageslabel {
    width: 80%;
    float: left;
}

#weekslabel {
    width: 70%;
    float: left;
}

.btn-group2 {
    margin: 5px 5px 5px 5px;
    float: left;
}

.btn-group2 > button {
    height: 52px;
}