<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{commons :: head(~{::title})}">
        <title>Match Code</title>
    </head>
    <body>
        <header th:replace="~{commons :: topper}"></header>
        <div style="max-width: 220px; margin-top: 60px; margin-left: 10px">
            <form action="/login" method="post" style="margin-bottom: 10px">
                <input name="account" placeholder="ID" style="display: inline-block; text-align: center; width: 200px; margin-bottom: 10px" type="text" />
                <input name="password" placeholder=" PASSWORD" style="display: inline-block; text-align: center; width: 200px; margin-bottom: 10px" type="password" />
                <input style="display: inline-block; text-align: center; width: 200px" type="submit" value="로그인" />
                <input th:name="_csrf" th:value="${_csrf.token}" type="hidden" />
            </form>
            <div>
                <a th:href="@{/register}"><input style="margin-bottom: 10px; display: inline-block; text-align: center; width: 200px" type="button" value="회원가입"></a>
                <a th:href="@{/findpassword}"><input style="display: inline-block; text-align: center; width: 200px" type="button" value="아이디/비밀번호 찾기"></a>
            </div>
        </div>
    </body>
</html>
