<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{header :: head(~{::title})}">
        <title>회원가입</title>
    </head>
    <body>
        <script src="/js/keitian/regist.js"></script>
        <form action="regist" method="post">
            <fieldset>
                <legend>회원가입</legend>
                아이디 : <input type="text" mane="account" id="account" />
                <input type="button" value="아이디 중복확인" id="iddupchek" />
                <input type="radio" name="isAccountNotDup" id="isAccountNotDup" checked="false" hidden /><br />

                비밀번호 : <input type="password" name="password" /><br />
                이름 : <input type="text" name="name" /><br />
                전화번호 : <input type="tel" name="phone" /><br />

                이메일 주소 : <input type="email" name="mailAddress" id="mailAddress" />
                <input type="button" value="인증번호 발송" id="verifymail" /><br />

                이메일 인증 : <input type="text" name="verifycode" id="verifycode" />
                <input type="button" value="인증번호 확인" id="verifyingcheck" disabled />
                <input type="radio" name="isVerifyied" id="isverifyied" checked="false" hidden /><br />

                생년월일 : <input type="date" name="birthday" /><br />

                <input type="submit" value="회원가입" />
                <input type="hidden" th:name="_csrf" th:value="${_csrf.token}" />
            </fieldset>
        </form>
    </body>
</html>
