<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{commons :: head(~{::title})}">
        <title>Match Code</title>
    </head>
    <body>
        <div th:replace="~{commons :: topper}"></div>
        <div style="margin-left: 10px;">
            <form action="/register" method="post" style="padding-top: 60px">
                <script src="/js/keitian/register.js"></script>
                <input th:name="_csrf" th:value="${_csrf.token}" type="hidden" />
                <p>회원가입</p>
                <input style="margin-bottom: 10px" name="account-input" type="text" placeholder="아이디" />
                <input hidden name="account" type="text">
                <input style="margin-bottom: 10px" id="dupcheck" type="button" value="아이디 중복확인" />
                <input hidden name="isAccountNotDup" type="checkbox" /><br />
                <input style="margin-bottom: 10px" name="password" type="password" placeholder="비밀번호" /><br />
                <input style="margin-bottom: 10px" name="name" type="text" placeholder="닉네임" /><br />
                <input style="margin-bottom: 10px" name="phone" type="tel" placeholder="전화번호" /><br />
                <input style="margin-bottom: 10px" name="mailAddress" type="email" placeholder="이메일 주소" />
                <input style="margin-bottom: 10px" id="verify-mail" type="button" value="인증번호 발송" /><br />
                <input style="margin-bottom: 10px" name="verifycode" type="text" placeholder="인증번호 입력" />
                <input style="margin-bottom: 10px" disabled id="verifyingcheck" type="button" value="인증번호 확인" />
                <input style="margin-bottom: 10px" name="isVerifyied" type="checkbox" /><br />
                생년월일 <br>
                <input name="birthday" type="date" /><br />
                <input type="submit" value="회원가입" />
            </form>
        </div>
    </body>
</html>
