<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{commons :: head(~{::title})}">
        <title>Match Code</title>
    </head>
    <body>
        <div th:replace="~{commons :: topper}"></div>
        <form style="padding-top: 60px" action="/register" method="post">
            <script src="/js/keitian/register.js"></script>
            <input th:name="_csrf" th:value="${_csrf.token}" type="hidden" />
            <legend>회원가입</legend>
            아이디 : <input name="account-input" type="text" />
            <input hidden name="account" type="text">

            <input id="dupcheck" type="button" value="아이디 중복확인" />
            <input hidden name="isAccountNotDup" type="checkbox" /><br />

            비밀번호 : <input name="password" type="password" /><br />
            이름 : <input name="name" type="text" /><br />
            전화번호 : <input name="phone" type="tel" /><br />

            이메일 주소 : <input name="mailAddress" type="email" />
            <input id="verify-mail" type="button" value="인증번호 발송" /><br />

            이메일 인증 : <input name="verifycode" type="text" />
            <input disabled id="verifyingcheck" type="button" value="인증번호 확인" />
            <input name="isVerifyied" type="checkbox" /><br />

            생년월일 : <input name="birthday" type="date" /><br />

            <input type="submit" value="회원가입" />
        </form>
    </body>
</html>
