.layout {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}


.layout button[id="button.view"] {
    /*  margin-top: 14px;*/
    margin-left: 580px;
}


.layout button[id="button2.view"] {
    margin-left: 405px;

}

.card2 {
    width: 100%;
    border: solid #a09595;
    height: 400px;
    margin-bottom: 10px;

}

.card {

    margin-top: 15px;
    width: 100%;
    border: solid #a09595;
    height: 265px;
    white-space: nowrap;
}

/*correction*/
.layout textarea[id="textarea.correction"] {
    width: 100%;
    margin-top: 14px;
    min-height: 300px;
    margin-bottom: 10px;
}


.layout button[id="button.correction"] {
    /*margin-top: 14px;*/
    margin-left: 580px;
}

.layout input[id="title.orrection"] {
    width: 100%;
    box-sizing: border-box;
}


/*insert*/
.layout textarea[id="textarea.insert"] {
    width: 100%;
    margin-top: 14px;
    min-height: 300px;
}


.layout button[id="button.insert"] {
    margin-top: 14px;
    margin-left: 605px;
}

.layout input[id="title.insert"] {
    width: 100%;
    box-sizing: border-box;
}

.layout a[id="writer.view"] {
    margin-top: 14px;
    margin-left: 600px;
    font-weight: bold;
}

.layout a[id="writer.view2"] {
    margin-top: 14px;
    margin-left: 600px;
    font-weight: bold;
}