<!DOCTYPE html>

<link rel="stylesheet" th:href="@{/css/khj/historyTable.css}" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<script src="js/khj/membername.js"></script>
<div th:if="${rating == null}">
    <p>경기 기록이 없습니다.</p>
</div>
<div th:if="${rating != null}">
    <img alt="Emblem Image" th:src="@{'/img/khj/' + ${rating.emblemId} + '.png'}" />
<!--    1:브론즈 부터 5:마스터까지-->
    </p>
    <p>MMR: <span th:text="${rating.mmr}"></span></p>
</div>
<table>
    <tr>
    <tr>
        <th>결과</th>
        <th>날짜</th>
        <th>체육시설</th>
        <th>내 점수</th>
        <th>상대 점수</th>
        <th></th>
    </tr>
    <tbody th:each="matchResult : ${matchResults}">
        <tr>
            <td>
                <span th:if="${matchResult.myScore > matchResult.rivalScore}">승리</span>
                <span th:if="${matchResult.myScore < matchResult.rivalScore}">패배</span>
                <span th:if="${matchResult.myScore == matchResult.rivalScore}">무승부</span>
            </td>
            <td th:text="${#dates.format(matchResult.matchDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${matchResult.name}"></td>
            <td th:text="${matchResult.myScore}"></td>
            <td th:text="${matchResult.rivalScore}"></td>
            <td>
                <button class="show-names-button" th:attr="data-matchid=${matchResult.matchId}">▽</button>
            </td>
        </tr>
        <tr class="names-table-container" style="display: none;" th:attr="id=${matchResult.matchId}">
        </tr>
    </tbody>
</table>