<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{head :: head(~{::title})}">
        <title>마이 페이지</title>
    </head>
    <body>
        <link href="/css/khj/mypage.css" rel="stylesheet" type="text/css" />
        <script defer src="/js/khj/menubutton.js"></script>
        <!-- 헤더 부분 -->
        <div id="header">
            <h2>MatchCode 로고가 들어갈 부분</h2>
        </div>
        <div class="jb-division-line"></div>
        <!-- 네비게이션 바 부분 -->
        <div id="nav">
            <h3>마이페이지</h3>
            (이미지가 들어갈 부분)
            <br>
            level :
            <p style="display: inline" th:text="${memberInfo.communityLevel}"></p>
            <br>
            이름 :
            <p style="display: inline" th:text="${memberInfo.name}"></p>
            <!--단, member DB에 name이 없으면 500 에러페이지 뜸. -->
            <br>
            포인트 :
            <p style="display: inline" th:text="${memberInfo.point}">p</p>
            <br>
            나의 팀 :
            <p style="display: inline" th:text="${memberInfo.teamName}">p</p>
            <br>
            <button id="matchHistoryButton">매치 히스토리</button>
            <br>
            <button id="personalButton">개인 정보</button>
            <br>
            <button id="myPostButton">내 게시물</button>
        </div>
        <!-- 컨텐츠가 들어갈 부분 -->
        <div class="updown"></div>
        <div id="section">
            <div id="contents">
                <!-- 여기에 메뉴별 컨텐츠가 나올 예정 -->
            </div>
        </div>
    </body>
</html>
