<!DOCTYPE html>
<link rel="stylesheet" th:href="@{/css/khj/personal.css}" />
<script defer src="/js/khj/menubutton.js"></script>
<h2 style="display:inline">개인정보</h2>
<table class="table">
    <tr>
        <td class="label">이름</td>
        <td><span th:text="${member.name}"></span></td>
    </tr>
    <tr>
        <td class="label">생년월일</td>
        <td><span th:utext="${#dates.format(member.birthday, 'yyyy-MM-dd')}"></span></td>
    </tr>
    <tr>
        <td class="label">핸드폰</td>
        <td><span th:text="${member.phone}"></span></td>
    </tr>
    <tr>
        <td class="label">이메일</td>
        <td><span th:text="${member.mailAddress}"></span></td>
    </tr>
    <tr>
        <td class="label">활동레벨</td>
        <td><span th:text="${member.communityLevel}"></span></td>
    </tr>
    <tr>
        <td class="label">활동경험치</td>
        <td><span th:text="${member.communityExp + '%'}"></span></td>
    </tr>
    <tr>
        <td class="label">나의 매너온도</td>
        <td><span th:text="${member.mannerTemperture}"></span></td>
    </tr>
    <tr>
        <td class="label">생성일</td>
        <td><span th:utext="${#dates.format(member.createdDate, 'yyyy-MM-dd')}"></span></td>
    </tr>
</table>
<button id="update" class="btn btn-secondary">수정하기</button>