<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/hgdd/post.css">
</head>

<body>
<div class="layout">
    <h2>게시글 수정 및 삭제</h2>
    <form th:action="@{/post/update/{id}(id = ${post.id})}" method="post">

        <!--제목수정-->
        <div class="mb-3">
            <label for="exampleFormControlInput1"  class="form-label">제목</label>
            <input name="title"  type="text" class="form-control" id="exampleFormControlInput1" th:value="${post.title}">
        </div>


        <!-- 내용 수정-->
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">내용입력</label>
            <textarea name="content" th:text ="${post.content}" class="form-control" id="exampleFormControlTextarea1"  rows="3"></textarea>
        </div>



        <!--비공개 체크박스(아직 db구현 안함-->
        <input type="checkbox">비공개<br>


        <!--수정버튼과 삭제 버튼(message와 함께 게시글 리스트로 이동)과 취소버튼(게시글 리스트로이동)-->
        <th>
            <button type="button" th:onclick="|location.href='@{/post/list}'|">목록으로</button>
            <button type="submit" id="button.correction">수정</button>
            <button th:onclick="|location.href='@{/post/delete?(id=${post.id})}'|">삭제</button>
        </th>
    </form>

</div>
</body>
</html>