<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <title>게시글 수정</title>
    </head>

    <body>
        <link href="/css/hgdd/post.css" rel="stylesheet">

        <div>
            <div id="header">
                <div th:replace="~{commons :: topper}"></div>
            </div>
            <div class="jb-division-line"></div>
        </div>

        <div class="layout">
            <h2>게시글 수정 및 삭제</h2>
            <form method="post" th:action="@{/post/update/{id}(id = ${post.id})}" th:object="${post}">

                <!--제목수정-->
                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlInput1">제목</label>
                    <input class="form-control" id="exampleFormControlInput1" name="title" th:value="${post.title}" type="text">
                </div>

                <!-- 내용 수정-->
                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlTextarea1">내용입력</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3" th:text="${post.content}"></textarea>
                </div>

                <!--비공개 체크박스(아직 db구현 안함-->
                <input th:field="*{privates}" type="checkbox">비공개<br>


                <!--수정버튼과 삭제 버튼(message와 함께 게시글 리스트로 이동)과 취소버튼(게시글 리스트로이동)-->
                <th>
                    <button class="btn btn-outline-secondary" th:onclick="|location.href='@{/post/list}'|" type="button">목록으로</button>
                    <button class="btn btn-outline-secondary" id="button.correction" type="submit">수정</button>
                    <button class="btn btn-outline-secondary" th:onclick="|location.href='@{/post/delete?(id=${post.id})}'|">삭제</button>
                    <input th:name="_csrf" th:value="${_csrf.token}" type="hidden" />
                </th>
            </form>

        </div>
    </body>
</html>