<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.2" name="viewport">
        <meta name="_csrf" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" type="text/javascript"></script>
        <title th:replace="${title}"></title>
    </head>
    <header class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" th:fragment="topper">
        <a class="navbar-brand" th:href="@{/}">Match Code</a>
        <div class="ms-3 navbar-nav">
            <div class="nav-item"><a class="nav-link" th:href="@{/post/list}">게시판</a></div>
            <div class="nav-item"><a class="nav-link" th:href="@{/recruit/list}">팀 목록</a></div>
            <div class="nav-item"><a class="nav-link" th:href="@{/match/list}">매칭 목록</a></div>
            <div class="nav-item"><a class="nav-link" th:href="@{/point}">포인트</a></div>
        </div>
        <div class="me-lg-3 position-absolute end-0 navbar-nav">
            <div class="nav-item" th:if="${session.get('memberId') == null}"><a class="nav-link" th:href="@{/login}">로그인</a></div>
            <div class="nav-item" th:if="${session.get('memberId') != null}"><a class="nav-link" th:href="@{/team/page}">팀 정보</a></div>
            <div class="nav-item" th:if="${session.get('memberId') != null}"><a class="nav-link" th:href="@{/mypage}">마이페이지</a></div>
            <div class="nav-item" th:if="${session.get('memberId') != null}"><a class="nav-link" th:href="@{/logout}">로그아웃</a></div>
        </div>
    </header>
</html>