<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{commons :: head(~{::title})}">
        <title>Match Code</title>
    </head>
    <body>
        <div style="margin: 0 auto; align-content: center; min-width: 640px; max-width: 1280px">
            <div th:replace="~{commons :: topper}"></div>
            <section style="padding-top: 70px; width: 90%; height: 80%; margin: auto">
                <div style="float: left; border: 1px solid black; column-count: auto; width: 45%; height: 240px">
                    <p style="margin-left: 10px">*</p>
                    <p style="margin-left: 10px">*</p>
                    <p style="margin-left: 10px">*</p>
                    <p style="margin-left: 10px">*</p>
                </div>
                <div style="float: right; border: 1px solid black; column-count: auto; width: 45%; height: 240px">
                    <p style="margin-left: 10px">*</p>
                    <p style="margin-left: 10px">*</p>
                    <p style="margin-left: 10px">*</p>
                    <p style="margin-left: 10px">*</p>
                </div>
            </section>
        </div>
    </body>
</html>
