<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="마이페이지"></title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!-- 헤더 부분 -->
<div id="header">
    <h2>마이페이지</h2>
</div>
<!-- 네비게이션 바 부분 -->
<div id="nav" aline="left" style="border: 1px solid #48BAE4; height: 100px;">
이메일 :
<br>
가입일 :
<br>
이름 :
<br>
포인트 :
<br>
    <button id="loadMatchHistoryButton">매치 히스토리 불러오기</button>
</div>
<br><br><br><br>
<!-- 컨텐츠가 들어갈 부분 -->
<div id="matchHistoryContainer">
    <!-- 여기에 매치 히스토리가 표시될 부분 -->
</div>

<script>
    $(document).ready(function () {
        $("#loadMatchHistoryButton").click(function () {
            $.ajax({
                url: "/matchhistory", // 매치 히스토리를 가져오는 URL
                dataType: "html",
                success: function (data) {
                    $("#matchHistoryContainer").html(data);
                },
                error: function () {

                    console.error("Error loading match history.");
                }
            });
        });
    });
</script>

</body>

</html>