<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 등록</title>
</head>
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }


    .layout button[id="button"] {
        margin-top: 10px;
        margin-left: 317px;
    }

    .box1{
        width: 100%;
        border: 1px solid black;
        height: 400px;
    }

</style>
<body>
<div class="layout">


        <!--제목-->
        <h2 th:text="${post.title}">제목 입니다.</h2>

        <!--내용-->
        <div class="box1">

            <p th:text ="${post.content}">내용이 들어갈 내용입니다.</p>
        </div>

        <th>
            <button type="button" th:onclick="|location.href='@{/post/list}'|">목록으로</button>
            <button type="button" id="button" th:onclick="|location.href='@{/post/correction/{id}(id=${post.id})}'|">수정페이지로</button>
        </th>

</div>
</body>
</html>