<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Point Page</title>
        <link href="/css/ljg/pointPage.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <h1>내 포인트</h1>
        <table>
            <thead>
                <tr>
                    <p>보유 포인트: <span th:text="${totalPoints}"></span></p>
                </tr>
                <button onclick="location.href='test'" type="button">충전하기</button>
                <button onclick="location.href='refund'" type="button">환불하기</button>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
        <tr>
            <td>

            </td>
        </tr>
        </thead>
        </table>
        <div id="chargeTable" style="display: none;">
            <h2>충전 내역</h2>
            <table>
                <thead>
                    <tr>
                        <th>일시</th>
                        <th>충전 포인트</th>
                    </tr>
                </thead>
                <tbody>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>포인트 내역</h2>
        <table>
            <thead>
                <tr>
                    <th>일시</th>
                    <th>내역</th>
                    <th>포인트</th>


                </tr>
            </thead>
            <tbody>
                <tr th:each="history : ${chargeHistories}">
                    <td th:text="${#dates.format(history.date, 'yyyy-MM-dd HH:mm')}"></td>
                    <td>
                        <span th:text="${history.details}"></span>
                    </td>
                    <td th:text="${history.point}"></td>
                </tr>
            </tbody>
        </table>
        </div>
        <script src="/js/ljg/pointPage.js"></script>
    </body>

</html>