<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{commons :: head(~{::title})}">
        <title>팀 생성하기</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <link href="/css/hyem/basic.css" rel="stylesheet">
        <header th:replace="~{commons :: topper}"></header>
        <div class="frame">
            <div class="table">
                <form method="post" th:action="@{/team/page}">
                    <input hidden name="memberId" th:value="${memberId}" type="text">
                    <div class="mb-3 mt-3">
                        <label class="form-label">팀명 : </label>
                        <input class="form-control" name="teamName" placeholder="팀명을 입력해주세요" type="text">
                    </div>
                    <div class="mb-3 mt-3">
                        <label class="form-label">팀 코드 : </label>
                        <input class="form-control" name="uri" placeholder="팀명을 입력해주세요" type="text">
                    </div>
                    <p id="uridescription">팀 url은 매치코드 팀페이지 주소로 사용됩니다.</p>
                    <p class="form-label">선호 스포츠(중복 선택 가능)</p>
                    <div>
                        <div class="btn btn-outline-primary" id="sportsbtn" th:each="sport, iterStat : ${sports}">
                            <input type="checkbox" class="form-check-input" th:id="'sportsCheckbox_' + ${iterStat.index}"
                                   th:field="*{team.sportsId}" th:value="${sport.count}">
                            <label class="form-check-label" id="sportslabel" th:text="${sport.description}" th:for="'sportsCheckbox_' + ${iterStat.index}"></label>
                        </div>
                    </div>
                    <p class="form-label">성별</p>
                    <div class="input-group mb-3">
                        <div class="form-check" th:each="gender, iterStat : ${genders}">
                            <input type="radio" class="btn-check" id="success-outlined" th:id="'genderCheckbox_' + ${iterStat.index}"
                                   name="options-outline" th:field="*{team.averageGender}" th:value="${gender.count}">
                            <label class="btn btn-outline-primary" id="genderbtn" for="success-outlined" th:text="${gender.description}" th:for="'genderCheckbox_' + ${iterStat.index}"></label>
                        </div>
                    </div>
                    <p class="form-label">주요 나이대(중복 선택 가능)</p>
                    <div>
                        <div class="btn btn-outline-primary" id="agesbtn" th:each="age, iterStat : ${ages}">
                            <input type="checkbox" class="form-check-input" th:id="'agesCheckbox_' + ${iterStat.index}"
                                   th:field="*{team.averageAge}" th:value="${age.count}">
                            <label class="form-check-label" id="ageslabel" th:text="${age.description}" th:for="'agesCheckbox_' + ${iterStat.index}"></label>
                        </div>
                    </div>
                    <p class="form-label">활동 요일(중복 선택 가능)</p>
                    <div>
                        <div class="btn btn-outline-primary" id="weeksbtn" th:each="week, iterStat : ${weeks}">
                            <input type="checkbox" class="form-check-input" th:id="'weeksCheckbox_' + ${iterStat.index}"
                                   th:field="*{team.useWeek}" th:value="${week.count}">
                            <label class="form-check-label" id="weekslabel" th:text="${week.description}" th:for="'weeksCheckbox_' + ${iterStat.index}"></label>
                        </div>
                    </div>
                    <p class="form-label">활동 시간</p>
                    <div class="input-group mb-3">
                        <div class="form-check" th:each="time, iterStat : ${times}">
                            <input class="btn-check" th:field="*{team.useTime}" th:id="'timeCheckbox_' + ${iterStat.index}"
                                   th:value="${time.count}" type="radio">
                            <label class="btn btn-outline-primary" id="timebtn" th:text="${time.description}" th:for="'timeCheckbox_' + ${iterStat.index}">
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="save" type="submit">등록</button>
                    <input th:name="_csrf" th:value="${_csrf.token}" type="hidden" />
                </form>
            </div>
        </div>
    </body>
    <script>
        function assignUniqueIds(groupClassName) {
        const checkboxes = document.querySelectorAll(`.${groupClassName} input[type="checkbox"]`);
        const labels = document.querySelectorAll(`.${groupClassName} label`);

        checkboxes.forEach((checkbox, index) => {
        checkbox.id = `${groupClassName}_Checkbox_${index}`;
        labels[index].setAttribute('for', `${groupClassName}_Checkbox_${index}`);
        });
        }
            assignUniqueIds('form-check1');
            assignUniqueIds('form-check2');
            assignUniqueIds('form-check3');
    </script>
</html>