<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>팀 리스트</title>
    </head>
    <body>
        <link href="/css/hyem/basic.css" rel="stylesheet">
        <div class="frame">
            <h2>팀 리스트</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>팀명</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="team : ${list}">
                        <td th:text="${team.id}">1</td>
                        <td>
                            <a th:href="@{/team/view/{uri}/{id}(uri=${team.uri}, id=${team.id})}" th:text="${team.teamName}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:href="@{/team/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:if="${page != nowPage}" th:text="${page}"></a>
                <strong style="color : red" th:if="${page == nowPage}" th:text="${page}"></strong>
            </th:block>
        </div>
        <div class="addbutton">
            <button><a th:href="@{/team/create}">팀 생성하기</a></button>
        </div>
    </body>
</html>