<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{commons :: head(~{::title})}">
        <meta charset="UTF-8">
        <title>팀 정보 상세 페이지</title>
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <link href="/css/hyem/basic.css" rel="stylesheet">
        <header th:replace="~{commons :: topper}"></header>
        <div class="frame">
            <h2>팀 정보</h2>
            <table class="table">
                <tr>
                    <th>팀명</th>
                    <td th:text="${team.teamName}"></td>
                </tr>
                <tr>
                    <th>선호 스포츠</th>
                    <td>
                        <span th:each="num : ${#numbers.sequence(0, team.sportsId.size() - 1)}">
                            <span class="text"
                                  th:text="${T(com.multicampus.matchcode.util.enums.hyem.Sport).getDescriptionFromCount(team.sportsId[num])}">
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>이용 요일</th>
                    <td>
                        <span th:each="num : ${#numbers.sequence(0, team.useWeek.size() - 1)}">
                            <span class="text"
                                  th:text="${T(com.multicampus.matchcode.util.enums.hyem.Week).getDescriptionFromCount(team.useWeek[num])}">
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>이용 시간</th>
                    <td th:text="${T(com.multicampus.matchcode.util.enums.hyem.Time).getDescriptionFromCount(team.useTime)}"></td>
                </tr>
                <tr>
                    <th>평균 연령</th>
                    <td>
                <span th:each="num : ${#numbers.sequence(0, team.averageAge.size() - 1)}">
                    <span class="text"
                          th:text="${T(com.multicampus.matchcode.util.enums.hyem.Age).getDescriptionFromCount(team.averageAge[num])}">
                    </span>
                </span>
                    </td>
                </tr>
                <tr>
                    <th>평균 성별</th>
                    <td th:text="${T(com.multicampus.matchcode.util.enums.hyem.Gender).getDescriptionFromCount(team.averageGender)}"></td>
                </tr>
            </table>
            <div class="btn-group">
                <button class="btn btn-primary">
                    <a style="color: white; text-decoration: none;" th:href="@{/team/modify/{uri}/{id}(uri = ${team.uri}, id = ${team.id})}">팀 정보 수정</a>
                </button>
                <form class="btn btn-danger" th:action="@{/team/delete/{uri}/{id}(uri = ${team.uri}, id = ${team.id})}" th:method="delete">
                    <button class="btn btn-danger" onclick="teamDelete();">팀 삭제</button>
                </form>
            </div>
            <div class="btn-group">
                <button class="btn btn-success">
                    <a style="color: white; text-decoration: none;" th:href="@{/recruit/write/{id}(id = ${team.id})}">멤버 모집하기</a>
                </button>
                <button class="btn btn-outline-success">
                    <a style="color: #009900; text-decoration: none;" th:href="@{/recruit/view/{id}(id = ${recruit})}">작성한 모집글</a>
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-warning">
                    <a style="color: white; text-decoration: none;" th:href="@{/application/list/{id}(id = ${team.id})}">가입신청내역</a>
                </button>
                <button class="btn btn-outline-warning">
                    <a style="color: #ffcc00; text-decoration: none;" th:href="@{/team/page/{uri}/memberlist(uri = ${team.uri})}">멤버 리스트</a>
                </button>
            </div>
        </div>
    </body>
</html>